@charset "UTF-8";
/*Colors*/
/*Various*/
/*Blue*/
/*Dark Violet*/
/*Violet*/
/*Orange*/
/*Yellow*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  line-height: 120% !important;
}

p {
  margin-bottom: 0px;
}

/* Typography */
h1 {
  font-weight: 700;
  font-size: 56px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

.body {
  font-weight: 500;
}
.body_1 {
  font-size: 18px;
}
.body_2 {
  font-size: 16px;
}
.body_3 {
  font-size: 14px;
}

#labelHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #27262C;
}

.dropdown-toggle {
  text-align: left;
  padding-left: 10px;
}

#greenInput {
  width: 300px;
  height: 42px;
  border-color: #2DC071;
  background-color: rgba(45, 192, 113, 0.2);
  border-radius: 48px;
}

#redInput {
  width: 300px;
  height: 42px;
  border-color: #EB3232;
  background-color: rgba(235, 50, 50, 0.2);
  border-radius: 48px;
}

#grayInput {
  width: 300px;
  height: 42px;
  border-color: #CDCFD0;
  background-color: #F2F2F2;
  border-radius: 48px;
}

#inputSearch {
  /* width: 519px;
  height: 44px; */
  background-color: #eeeeee;
  border-radius: 22px;
  border: none;
}

#inputSearch input[type=text] {
  height: 44px;
  border: none;
  background-color: #eeeeee;
}

#inputSearch button {
  background-color: #00B1BB;
}

#inputButtonSize {
  width: 519px;
  height: 44px;
  background-color: #eeeeee;
  border-radius: 22px;
  border: none;
  /*   Lo que esta haciendo esto es ajustar el tamano y cerrando bordes del input con boton */
}
#inputButtonSize #inputButtonColor {
  height: 44px;
  border: none;
  background-color: #eeeeee;
}

#dropDownStyleGreen {
  width: 300px;
  height: 42px;
  border-color: #00B1BB;
  background-color: rgba(0, 177, 187, 0.2);
  color: #27262c;
  margin: 0px 20px;
}

#dropDownStyleRed {
  width: 423px;
  height: 42px;
  border-width: 2px;
  border-color: #EB3232;
  background-color: rgba(235, 50, 50, 0.2);
  color: #27262C;
}

#dropDownStyleCyan {
  width: 423px;
  height: 42px;
  border-width: 2px;
  border-color: #00B1BB;
  background-color: rgba(0, 177, 187, 0.2);
  color: #27262C;
}

.dropdown-toggle {
  text-align: left;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
  }
  .body {
    font-weight: 500;
  }
  .body_1 {
    font-size: 16px;
  }
  .body_2 {
    font-size: 14px;
  }
  .body_3 {
    font-size: 12px;
  }
}
.text_button_bold {
  font-weight: 600;
  font-size: 20px;
}
.text_button_medium {
  font-weight: 600;
  font-size: 18px;
}
.text_button_small {
  font-weight: 400;
  font-size: 16px;
}

.text_field::-moz-placeholder {
  font-weight: 600;
  font-size: 20px;
}

.text_field::placeholder {
  font-weight: 600;
  font-size: 20px;
}
.text_field_title {
  font-weight: 400;
  font-size: 14px;
}
.text_field_description {
  font-weight: 400;
  font-size: 12px;
}

.btn {
  height: 42px;
  border-radius: 48px;
  box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_large {
  width: auto;
  padding: 0px 82px;
}
.btn_large i {
  position: relative;
  margin-left: 45px;
  margin-right: -62px;
}
.btn_large_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_large:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_large:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_large_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_large_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_large_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_large_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_large_transparent_active {
  color: #00B1BB;
}
.btn_large_transparent:disabled {
  color: #CDCFD0;
}
.btn_medium {
  width: auto;
  padding: 9px 75px;
}
.btn_medium i {
  position: relative;
  margin-left: 45px;
  margin-right: -55px;
}
.btn_medium_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_medium:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_medium:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_medium_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_medium_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_medium_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_medium_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_medium_transparent_active {
  color: #00B1BB;
}
.btn_medium_transparent:disabled {
  color: #CDCFD0;
}
.btn_small {
  width: 10.7%;
}
.btn_small_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_small:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_small:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_small_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_small_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_small_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_small_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_small_transparent_active {
  color: #00B1BB;
}
.btn_small_transparent:disabled {
  color: #CDCFD0;
}

@media only screen and (max-width: 768px) {
  .btn_large {
    width: auto;
    padding: 9px 65px;
  }
  .btn_medium {
    width: auto;
    padding: 9px 25px;
  }
  .btn_small {
    width: 50%;
  }
}
/* Input internacional */
/* Cajita */
.form-group {
  width: 100%;
  max-width: 310px;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
}
.form-group:not(.form-group_error):not(.form-group_exito):focus-within {
  background: rgba(0, 177, 187, 0.2);
  border: 2px solid #2FD9DE;
}
.form-group_error {
  border-color: #EB3232;
  background: rgba(235, 50, 50, 0.2);
}
.form-group_error:focus-within {
  background: rgba(235, 50, 50, 0.2);
  border: 2px solid #EB3232;
}
.form-group_exito {
  border-color: #2DC071;
  background: rgba(45, 192, 113, 0.2);
}
.form-group_exito:focus-within {
  background: rgba(45, 192, 113, 0.2);
  border: 2px solid #2DC071;
}

/* No difiere */
.select-container {
  width: 80px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Se agrega para centrar verticalmente el ícono de la bandera */
}

/* Form de el country a elegir */
.country-select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  padding-left: 24px;
  border-radius: 48px;
}

/* Contenedor de la flag */
.flag-icon-container {
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
}

/* Icono de la flag */
.flag-icon {
  width: 20px;
  height: 8px;
}

/* Escribir dentro del imput */
.input-number {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  border-radius: 48px;
  margin-left: 10%;
}

@media (max-width: 768px) {
  .form-group {
    display: flex;
    /* Utilizar flexbox para disposición */
    flex-direction: row;
    /* Especificar la dirección de fila o columna según las necesidades */
    display: grid;
    grid-template-columns: 20% 80%;
    /* Especificar columnas de ancho flexible */
  }
  .country-select {
    font-size: 16px;
    /* Cambiar el tamaño de fuente en pantallas más pequeñas */
  }
  .input-number {
    margin-left: 16%;
    font-size: 16px;
    width: 100%;
    /* Cambiar el tamaño de fuente en pantallas más pequeñas */
  }
  #greenInput {
    width: 29.38%;
    height: 42px;
    border-color: #2DC071;
    background-color: rgba(45, 192, 113, 0.2);
    border-radius: 48px;
  }
  #redInput {
    width: 29.38%;
    height: 42px;
    border-color: #EB3232;
    background-color: rgba(235, 50, 50, 0.2);
    border-radius: 48px;
  }
  #grayInput {
    width: 29.38%;
    height: 42px;
    border-color: #CDCFD0;
    background-color: #f4f4f4;
    border-radius: 48px;
  }
  #inputSearch {
    /* width: 519px;
    height: 44px; */
    background-color: #eeeeee;
    border-radius: 22px;
    border: none;
  }
  #inputSearch input[type=text] {
    height: 44px;
    border: none;
    background-color: #eeeeee;
  }
  #inputSearch button {
    background-color: #00B1BB;
  }
  #inputButtonSize {
    width: 25.93%;
    height: 44px;
    background-color: #eeeeee;
    border-radius: 22px;
    border: none;
    /*   Lo que esta haciendo esto es ajustar el tamano y cerrando bordes del input con boton */
  }
  #inputButtonSize #inputButtonColor {
    height: 44px;
    border: none;
    background-color: #eeeeee;
  }
  #dropDownStyleGreen {
    width: 29.38%;
    height: 42px;
    border-color: #2DC071;
    background-color: rgba(0, 177, 187, 0.2);
    color: #27262c;
  }
  #dropDownStyleRed {
    width: 29.38%;
    height: 42px;
    border-width: 2px;
    border-color: #EB3232;
    background-color: rgba(235, 50, 50, 0.2);
    color: #27262C;
  }
  #dropDownStyleCyan {
    width: 29.38%;
    height: 42px;
    border-width: 2px;
    border-color: #00B1BB;
    background-color: rgba(0, 177, 187, 0.2);
    color: #27262C;
  }
}
p {
  color: #27262C;
}

.badge {
  --bs-badge-font-weight: 400;
}

.sidebar-container h3 {
  color: #00B1BB;
}

.side-item span {
  margin-left: 10px;
}

.side-link {
  font-weight: 600;
  color: #00B1BB;
}
.side-link.active {
  margin-bottom: 11px;
}
.side-link.active.active {
  background-color: #00B1BB !important;
}

.tag_w {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 32px;
  padding: 8px 16px;
}
.tag_family {
  background-color: #BA93D2;
  color: #6321A6;
}
.tag_business {
  background-color: #BDF0F2;
  color: #00B1BB;
}
.tag_grow {
  background-color: #FFB67D;
  color: #F25C05;
}

.check-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.check-button {
  background-color: #FAFAFA;
  width: 25px;
  height: 25px;
  margin-right: 13px;
}
.check-button:checked {
  background-color: #00B1BB;
  border-color: transparent;
}
.check-container {
  display: flex;
  align-items: center;
}

.slide-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumb-title h4 {
  color: #F25C05;
  padding: 0px 12%;
}
.breadcrumb-title-section {
  background-color: #FAFAFA;
  padding: 14px 12%;
  border-radius: 0 0 20px 20px;
}

a-item a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6321A6;
  text-decoration: none;
}
a .active {
  font-weight: 600;
  font-size: 16px;
  color: #6321A6;
}

.user-product-container {
  background-color: #FAFAFA;
}
.user-product-product-container {
  background-color: #FAFAFA;
  max-width: 528px;
  min-width: 450px;
  max-height: 290px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 14px #E4D4ED;
}
.user-product-product-head {
  background-color: #6321A6;
  padding: 10px 30px 1px;
}
.user-product-product-head h5 {
  color: #F2F2F2;
}
.user-product-product-body {
  padding: 27px 50px 0px;
}
.user-product-product-body h3 {
  color: #6321A6;
}
.user-product-product-data {
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
}
.user-product-product-data-item-head {
  padding: 10px 30px 1px;
}
.user-product-product-data-item-head h5 {
  color: #F2F2F2;
}
.user-product-product-data-item-body {
  padding: 27px 50px 0px;
}
.user-product-product-data-item-body h3 {
  color: #6321A6;
}
.user-product-product-data-item-data {
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
}
.user-product-product-data-item-data-item {
  margin-right: 50px;
}
.agenda-container {
  width: 100%;
  max-width: 528px;
}
.agenda-container .ahorro {
  background-color: #6321A6;
}
.agenda-container .credito {
  background-color: #F25C05;
}
.agenda-container .seguro {
  background-color: #00B1BB;
}
.agenda-container .inversion {
  background-color: #343c7f;
}
.agenda-container .agenda-container {
  background-color: #BDF0F2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 14px #BDF0F2;
  width: 100%;
}
.agenda-container .agenda-head {
  background-color: #00B1BB;
  padding: 10px 25px 1px;
}
.agenda-container .agenda-head h5 {
  color: #F2F2F2;
}
.agenda-container .agenda-body {
  padding: 10px 35px 1px;
}
.agenda .calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-radius: 20px;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.15);
  padding: 10px 43px 1px;
}
.agenda .calendar-container {
  background-color: #F2F4F5;
  border-radius: 20px;
}
.agenda .calendar-item-selected {
  font-weight: 700;
}
.agenda .calendar-item-selected p {
  color: #00B1BB;
}
.agenda .calendar-data {
  padding: 30px 30px;
  margin-bottom: 30px;
}
.agenda .calendar-event-head h5 {
  font-family: 700;
  color: #535C97;
}
.agenda .calendar-event-head p {
  color: #27262C;
}
.agenda .calendar-event-body {
  display: flex;
  flex-direction: row;
}
.agenda .calendar-event-detail {
  margin-right: 50px;
}
.agenda .calendar-event-detail :first-child {
  font-weight: 700;
  color: #535C97;
}
.agenda .calendar-event-detail p {
  color: #27262C;
}

@media only screen and (max-width: 768px) {
  .user-product-head {
    padding: 15px 20px 1px;
  }
  .user-product-body {
    padding: 27px 20px 0px;
  }
  .user-product-data {
    padding: 10px 20px;
  }
  .agenda-head {
    padding: 15px 20px 1px;
  }
  .agenda-body {
    padding: 10px 20px 1px;
  }
  .calendar {
    padding: 10px 28px 1px;
  }
  .calendar-data {
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  .calendar-event-detail {
    margin-right: 25px;
  }
}/*# sourceMappingURL=tags.css.map */