@import '../../../style.scss';


.imagefondo{
    max-width: 328px !important;
}

.fondo-card {

    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    padding: 35px 40px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 772px;



    & .card_button {
        border: 1px solid $color_blue1;

        color: $color_blue1;
    }

    & .card_button:hover {
        background-color: $color_blue1;
        color: $color_base_white;
    }

    & .card_button>h4 {
        font-size: 20px;
        font-weight: 500;
    }


    & .titulo-naranja {

        background-color: $color_blue1;
        width: calc(100% + 80px);
        height: 80px;
        position: relative;
        top: -35px;
        left: -40px;
        margin-bottom: -9px;

        display: flex;
        align-items: center;
        gap: 20px;
        padding: 22px;

        & .imagen-inOrange {

            height: 50px;
            width: 50px;
            border-radius: 100%;
        }

        & .usuario-naranja {
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: $color_accent_white;
        }

    }


    & .nombre-usuario {

        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: -20px;
        margin-left: -20px;
    }




    & .comentario {

        display: flex;
        align-content: center;
        gap: 15px;
        margin-right: -20px;
        margin-left: -20px;

        & .fondo-comentario {


            width: 90%;

            padding: 9px 23px;

            background-color: $fill_input;

            height: auto;
            border-radius: 48px;


            & .parrafo {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;

                color: $color_text_disable;
            }

        }

        .perfil-usuario {

            width: 51px;
            height: 51px;
            border-radius: 100%;
        }

    }



    & .labels-site {
        display: flex;
        gap: 15px;
    }

    & .card-interactions {
        display: flex;
        justify-content: space-between;
        margin-bottom: -35px;


        & .punticos {
            font-size: xx-large;
            text-align: center;
            margin-bottom: 20px;
        }

        & .left {
            display: flex;
            justify-content: space-between;
            gap: 24px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            & .likes {
                display: flex;
                align-items: center;
                gap: 10px;

                * {
                    color: $color_error;
                }
            }

            & .comments {
                display: flex;
                align-items: center;
                gap: 10px;

                * {
                    color: #707070;
                }
            }


        }
    }


    & .horizontal {
        display: flex;
        align-items: center;
        gap: 25px;

        & .arrow {

            margin-left: -10px;
            border: solid #252B42;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 6px;
            transform: rotate(-45deg);
            border-radius: 2px;
        }
    }

    & .logo-inCard {

        position: relative;
        top: -40px;
        left: -40px;
        width: calc(100% + 80px);
        height: auto;

    }

    & .card-imagen {

        margin-top: -35px;
        height: fit-content;

        & .imagen-inCard {
            position: relative;
            top: 0px;
            left: -40px;
            width: calc(100% + 80px);
            height: auto;
        }
    }



    & .texto-card {


        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 18px;


        & .titulo {
            color: #252B42;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }

        & .orange-type {
            color: #F25C05;
        }

        & .parrafo {

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #737373;
            line-height: 180% !important;
        }
    }
}


// ----------------------------------------------------

.card_horizontal {

    &_container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 301px;
        background: $color_accent_white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        color: $color_text;
    }

    &_img {
        width: 44.5%;
        height: 301px;
        border-radius: 20px 0px 0px 20px;
    }

    &_body {
        padding: 33px 55px;

        & h3 {
            margin-bottom: 20px;
        }

        & p {
            margin: 20px 0px;
        }

        & button {
            margin-top: 40px;
        }
    }
}


.title_row {
    background-color: $color_dark_violet3 !important;
    width: 100%;
    border-radius: 8.84097px 8.84097px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;


    & h4 {
        font-size: 16px !important;
    }

}

.title_col{
    .title_row2 {
        background-color: $color_violet1 !important;
        width: 100%;
        height: auto;
        border-radius: 8.84097px 8.84097px 0px 0px;
        margin-left: 0px;
        margin-right: 0px;


        & h4 {
            font-size: 10px;
        }

    }

    .title_col {
        justify-content: space-between;

        width: 100%;

        & h4 {
            font-size: 10px !important;
            font-weight: 500 !important;
        }
    }
}

    .contenedores .row .col.title_col h4 {
        width: 100%;
    }


    .contenedores {
        width: 100%;
        padding-top: 0;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .icon {
        font-size: 50px;
        color: $color_orange1;
    }

    .w-100 {
        border-bottom: 1px solid $color_dark_violet1;
    }

    .locura {
        width: 100%;
        background-color: $color_base_white;
        margin: 0;

        & h4{
            font-size: 15px !important;
            font-weight: 500;
        }
    }

    .superior_row{
        background-color: $color_violet1 !important;
        width: 100%;
        height: auto;
        border-radius: 8.84097px 8.84097px 0px 0px;
        margin-left: 0px;
        margin-right: 0px;

        & h4{
            font-size: 18px !important;
            font-weight: 700;
        }
    }

    .body-details{
        border-radius: 80px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        border: none;
    }
    .title-inputcard{
        margin-top: 10px;
        color: $color_violet1;
    }
    .botoncard{
        width: 100%;
    }
    

@media(max-width: 768px){

    
}