<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>


    <card-simple recurso="./imageToreplceLater.svg" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-simple>

    <card-orange boton="Aqui titulo para boton" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during"
        recurso="./imageToreplceLater.svg" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during"></card-orange>

    <card-boton boton="Aqui titulo para boton" recurso="./imageToreplceLater.svg" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-boton>

    <card-imagen boton="Aqui titulo para boton" recurso="./placeholder.png" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-imagen>

    <mini-card recurso="./imageToreplceLater.svg" titulo="Breve título"></mini-card>


    <card-forblog boton="Aqui titulo para boton" likes="120" comments="130" recurso="./placeholder.png"
        titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-forblog>

    <card-comentario name=" Aurora Chávez " likes="120" comments="130" recurso="./placeholder.png" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-comentario>


    <card-forblog target="target" boton="Aqui titulo para boton" likes="120" comments="130" recurso="./placeholder.png"
        titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">

        <section>
            <section>amor</section>
            <section>comprension</section>
            <section>ternura</section>
        </section>
    </card-forblog>

    <div id="target"></div>

    <card-comentario name=" Aurora Chávez " likes="120" comments="130" recurso="./placeholder.png" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-comentario>




    <card-comentario name=" Aurora Chávez " recurso="./placeholder.png" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-comentario>

    <card-blogdetalle name=" Aurora Chávez " likes="120" comments="130" userprofile="./placeholder.png"
        boton="medium active" recurso="./placeholder.png" titulo="Breve título"
        contenido="The gradual accumulation of information about atomic and small-scale behaviour during">
    </card-blogdetalle>



    <div class='supreme'>

        <section class="fondo-card imagefondo">
            <section class="card-imagen">
                <img src="${this.recurso}" class="imagen-inCard" alt="">
            </section>
            <section class="texto-card" style="display: flex; align-items: center;">
                <h5 class="titulo" style=" margin-top: 40px;">${this.titulo}</h5>
                <p class="parrafo" style="text-align: center;">
                    ${this.contenido}
                </p>
            </section>
            <button class='btn btn_large btn_large_outline btn_large_active btn_large_outline_active'>
                <h5>${this.boton}</h5> <i></i>
            </button>
        </section>

    </div>

    <card-productosimg boton=" Conoce más" recurso=".\images\card1.png" titulo="Microcrédito"
        contenido="Crédito con asesoría personalizada que te permitirá fortalecer y hacer crecer tu negocio.">
        ></card-productosimg>
    <card-productosimg boton=" Conoce más" recurso=".\images\card2.png" titulo="Yo construyo"
        contenido="Crédito con asesoría personalizada para remodelar o restaurar tu negocio...">
        ></card-productosimg>
    <card-productosimg boton=" Conoce más" recurso=".\images\card3.png" titulo="Gotahorro"
        contenido="Crédito con asesoría personalizada que te brinda acceder fácilmente a préstamos para que impulses tu...">
        ></card-productosimg>
    <card-productosimg boton=" Conoce más" recurso=".\images\card4.png"
        titulo="Crédito de vehiculo (Alianza Clave 2000)"
        contenido="Crédito con asesoría personalizada con Alianza clave 2000, que te...">
        ></card-productosimg>
    <card-productosimg boton=" Conoce más" recurso=".\images\card5.png" titulo="Inmueble productivo"
        contenido="Crédito con asesoría personalizada donde podrás hacer realidad tu sueño de comprar la casa para que tengas tu negocio.">
        ></card-productosimg>




</body>


<footer>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <script src="cardArticle.js"></script>

    <link rel="stylesheet" href="/landing.scss">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</footer>

</html>