@import '../../../style.scss';

.footerW{
    margin-top: 10px;
    padding-top: 20px;
    background-color:$color_dark_violet1!important;
    border-top: none;
    text-decoration: none;
    a{
        text-decoration: none !important;

    }
}
footer{
    background-color:$color_dark_violet1 !important;
    border-top: none;
    text-decoration: none !important;
}
.tamaño_icono {
    width: 30px;
    height: 30px;
}

.line-color{
    border-bottom: #eb2f00 !important;
    
    border: none;
}

.separadortitulo{
    border: 2px solid $color_orange1 !important;
    width: 80px;
    opacity: 1;
    border-radius: 26px;
    margin-top: -10px;
    margin-bottom: 30px;
}