<link rel="stylesheet" href="/public/Components/Footer/footer.css">
<footer class="footerW">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 class="headline5 text-white border-bottom pb-2">Acerca de nosotros</h5>
          <ul class="list-unstyled espacio-1" style="color: --color_orange1;">
            <li><a href="#" class="text-white">Quiénes sómos</a></li>
            <li><a href="#" class="text-white">Trabaja con nosotros</a></li>
            <li><a href="#" class="text-white">Proveedores</a></li>
            <li><a href="#" class="text-white">Licitación de seguros</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="headline5 text-white border-bottom pb-2">Tasas y tarifas</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Microcrédito</a></li>
            <li><a href="#" class="text-white">Libranza</a></li>
            <li><a href="#" class="text-white">Cuenta de ahorro</a></li>
            <li><a href="#" class="text-white">Depósito de bajo monto</a></li>
            <li><a href="#" class="text-white">CDT</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="headline5 text-white border-bottom pb-2">Te escuchamos</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Consultas, quejas o reclamos</a></li>
            <li><a href="#" class="text-white">Defensor del consumidor financiero</a></li>
            <li><a href="#" class="text-white">Deberes y derechos del consumidor</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="headline5 text-white border-bottom line-color pb-2">Nuestras redes sociales</h5>
          <ul class="list-unstyled d-flex ">
            <li class="px-4"><a href="#" class="text-white "><i class="bi bi-facebook h2"></i></a></li>
            <li class="px-4"><a href="#" class="text-white"><i class="bi bi-twitter h2"></i></a></li>
            <li class="px-4"><a href="#" class="text-white"><i class="bi bi-youtube h2 "></i></a></li>
            <li class="px-4"><a href="#" class="text-white"><i class="bi bi-instagram h2"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3">
            <h5 class="headline5 text-white border-bottom pb-2">Pagina Web Defensoría del Consumidor Financiero www.defensorialg.com.co</h5>
          </ul>
        </div>
      </div>
    </div>
  </footer>
