@import '../../../style.scss';

.search_button_desk {
    width: 15% !important;
    height: 42px !important;
    background-color: $color_blue1 !important;
    color: $color_base_white;
    border-radius: 0% 48px 48px 0% !important;
    margin: 0 !important;

    &:hover {
        background-color: white !important;
        color: $color_blue1 !important;
    }
}

.search_button_mobile {
    width: 15% !important;
    height: 42px !important;
    background-color: $color_blue1 !important;
    color: $color_base_white;
    border-radius: 0% 48px 48px 0% !important;
    margin: 0 !important;
    padding: 0% !important;

    &:hover {
        background-color: white !important;
        color: $color_blue1 !important;
    }
}


.navup_buttons {
    width: 100% !important;
    height: 44px !important;
    background-color: $color_blue1 !important;
    color: $color_base_white !important;
    padding-top: 7% !important;

    &:hover {
        background-color: rgb(242, 241, 241) !important;
        color: $color_blue1 !important;
    }
}


.form-control {
    margin-right: 0 !important;
    border-radius: 48px 0px 0px 48px;
}

.navbar-margin {
    margin-bottom: 0px; /* Puedes ajustar este valor según tus necesidades */
  }
  

.placeholder-input-desk {
    width: 423px;
    height: 42px;
    border: none;
    background-color: $fill_input;
    margin-left: 10%;
}
.first-nav{
    background-color: $color_accent_white !important;
    margin-bottom: 80px !important;
}
.second_nav {
    background-color: $color_base_white !important;
    margin-top: 70px;
    height: 58px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));

    &_link {
        gap: 29px;

        li {
            a {
                color: $color_orange1;
                padding-left: 0% !important;

                &:hover {
                    color: $color_base_gray !important;
                }

                &:active {
                    color: $color_base_gray !important;
                }

                &:focus {
                    color: $color_base_gray !important;
                }

            }

            .button_toggler {
                width: 45.22px;
                height: 45.22px;
                background-color: $color_orange1;
                border-radius: 62px !important;
            }


        }
    }
}

.button_toggler {
    width: 45.22px;
    height: 45.22px;
    background-color: $color_orange1;
}

.nav_btn i {
    margin: 0%;
}

.change-white {
    color: $color_base_white;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: none;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.background_responsive_navbar {
    background-color: $color_base_white;
    border-radius: 0px 0px 20px 20px;
}

.icon_search {
    margin: 0% !important;
}


@media (max-width: 800px) {
    body{
        padding-top: 4rem !important;
    }
    .img_banner{
        height: 5% !important;
    }
    .second_nav {
        margin-top: 0px;
        &_link {
            gap: 5px;
        }
    }

}