@import '../../style.scss';

main {
    padding: 60px 12% 0px 12%;
}

#banner {

    &_mobile {
        display: none;
    }

    &_section {
        display: flex;
        flex-direction: row;

        & img {
            width: 40%;
        }
    }
}

.container {
    &_text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 55%;
        color: $color_base_gray;

        & i {
            font-size: 24px;
            color: $color_accent_black;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        padding: 45px 0px;
        gap: 20px;

        & p {
            color: $color_text !important;
        }

        & span {
            color: $color_error;
        }

        &_each {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & i {
                font-size: 25px;
            }

        }
    }

    &_all {
        display: flex;
        flex-wrap: wrap;
    }
}

.caption_text {
    color: $color_text_disable;
    width: 30%;
}


#share_form {
    margin: 120px 0px 0px 0px;

    & h3 {
        color: $color_blue1;
    }

    & p {
        color: $color_text_disable;
    }

    & img {
        position: absolute;
        width: 40%;
        height: auto;
        left: 45%;
        top: 950px;
    }
}

#more_stories {
    display: flex;
    flex-direction: column;
    padding: 0px 12%;
    gap: 40px;
}

#mobile_form {
    display: none;
}

.circle_blue {
    display: none;
}

@media only screen and (max-width: 768px) {

    main {
        padding: 0px 5.2%;
    }

    .circle_blue {
        display: flex;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 1146px;

    }

    #banner {

        &_mobile {
            display: flex;
            color: $color_accent_white;
            margin-top: -20px;

            & img {
                width: 100%;
            }

            & i {
                font-size: 24px;
                position: absolute;
                left: 5.2%;
                top: 170px;
            }

            & h1 {
                margin: 80px 5.2%;
                position: absolute;
            }
        }

        &_section {
            display: none;
        }
    }

    #mobile_form {
        display: flex;
        margin-top: -110px;
    }

    #share_form {
        display: none;
    }

    #more_stories {
        display: none;
    }

    .container {

        &_head {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 115px;
            color: $color_accent_white;
            background-color: $color_blue1;
            border-radius: 20px 20px 0px 0px;

            & h1 {
                width: 85%;
                margin: 0%;
            }
        }

        &_text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 55%;
            color: $color_base_gray;

            & i {
                font-size: 24px;
                color: $color_accent_black;
            }
        }

        &_form {
            display: flex;
            flex-direction: column;
            padding: 20px 0px;
            gap: 20px;

            & p {
                padding: 0px 6%;
                color: $color_text;
            }


            &_each {
                display: flex;
                flex-direction: column;
                padding: 10px 6%;
                gap: 10px;

                & span {
                    color: $color_error;
                }

                & i {
                    font-size: 25px;
                }

            }
        }

        &_all {
            display: flex;
            flex-wrap: wrap;

            &_form {
                margin-bottom: 40px;
                background-color: white;
                border-radius: 20px !important;
                box-shadow: 0px 3.09013px 10.8155px rgba(0, 0, 0, 0.15);
            }
        }

        &_check {
            padding: 0px 6%;
            display: flex;
            flex-direction: row;
            gap: 3%;
        }
    }

    .caption_text {
        color: $color_text_disable;
        width: 100%;
        padding: 0% !important;
    }

    .btn_form {
        margin: 0px 6%;
    }

    #image_circle {
        background-image: url('./img/pm2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}