@charset "UTF-8";
/*Colors*/
/*Various*/
/*Blue*/
/*Dark Violet*/
/*Violet*/
/*Orange*/
/*Yellow*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  line-height: 120% !important;
}

p {
  margin-bottom: 0px;
}

/* Typography */
h1 {
  font-weight: 700;
  font-size: 56px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

.body {
  font-weight: 500;
}
.body_1 {
  font-size: 18px;
}
.body_2 {
  font-size: 16px;
}
.body_3 {
  font-size: 14px;
}

#labelHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #27262C;
}

.dropdown-toggle {
  text-align: left;
  padding-left: 10px;
}

.greenInput {
  width: 300px;
  height: 42px;
  border-color: #2DC071;
  background-color: rgba(45, 192, 113, 0.2);
  border-radius: 48px;
}

.redInput {
  width: 300px;
  height: 42px;
  border-color: #EB3232;
  background-color: rgba(235, 50, 50, 0.2);
  border-radius: 48px;
}

.grayInput {
  width: 30%;
  height: 42px;
  border: solid;
  border-width: 1px;
  border-color: #CDCFD0;
  background-color: #F2F4F5;
  border-radius: 48px;
  padding: 2%;
}

.messageInput {
  width: 30%;
  height: 140px;
  border: solid;
  border-width: 1px;
  border-color: #CDCFD0;
  background-color: #F2F4F5;
  border-radius: 20px;
  padding: 2%;
}
.messageInput::-moz-placeholder {
  position: relative;
  top: -40px;
}
.messageInput::placeholder {
  position: relative;
  top: -40px;
}

.label_file {
  padding: 6px 12px;
  cursor: pointer;
  width: 30%;
  height: 80px;
  border: solid;
  border-style: dashed;
  border-width: 1px;
  border-color: #CDCFD0;
  background-color: #F2F4F5;
  border-radius: 20px;
  padding: 2%;
}

.inputFile {
  visibility: hidden;
  width: 0;
}

#inputSearch {
  /* width: 519px;
  height: 44px; */
  background-color: #eeeeee;
  border-radius: 22px;
  border: none;
}

#inputSearch input[type=text] {
  height: 44px;
  border: none;
  background-color: #eeeeee;
}

#inputSearch button {
  background-color: #00B1BB;
}

#inputButtonSize {
  width: 519px;
  height: 44px;
  background-color: #eeeeee;
  border-radius: 22px;
  border: none;
  /*   Lo que esta haciendo esto es ajustar el tamano y cerrando bordes del input con boton */
}
#inputButtonSize #inputButtonColor {
  height: 44px;
  border: none;
  background-color: #eeeeee;
}

#dropDownStyleGreen {
  width: 300px;
  height: 42px;
  border-color: #00B1BB;
  background-color: rgba(0, 177, 187, 0.2);
  color: #27262c;
  margin: 0px 20px;
}

#dropDownStyleRed {
  width: 423px;
  height: 42px;
  border-width: 2px;
  background-color: rgba(235, 50, 50, 0.2);
  color: #27262C;
}

#dropDownStyleCyan {
  width: 423px;
  height: 42px;
  border-width: 2px;
  border-color: #00B1BB;
  background-color: rgba(0, 177, 187, 0.2);
  color: #27262C;
}

#dropDownStyleRed {
  width: 423px;
  height: 42px;
  border-width: 2px;
  border-color: #EB3232;
  background-color: rgba(235, 50, 50, 0.2);
  color: #27262C;
}

#dropDownStyleCyan {
  width: 423px;
  height: 42px;
  border-width: 2px;
  border-color: #00B1BB;
  background-color: rgba(0, 177, 187, 0.2);
  color: #27262C;
}

.dropdown-toggle {
  text-align: left;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
  }
  .body {
    font-weight: 500;
  }
  .body_1 {
    font-size: 16px;
  }
  .body_2 {
    font-size: 14px;
  }
  .body_3 {
    font-size: 12px;
  }
  .grayInput {
    width: 100%;
  }
  .messageInput {
    width: 100%;
  }
  .messageInput::-moz-placeholder {
    position: relative;
    top: -40px;
  }
  .messageInput::placeholder {
    position: relative;
    top: -40px;
  }
  .label_file {
    padding: 0px 0px;
    cursor: pointer;
    width: 100%;
  }
  .checkInput {
    border-radius: 1px;
    border: solid;
    border-width: 1px;
    border-color: #CDCFD0;
  }
}
.text_button_bold {
  font-weight: 600;
  font-size: 20px;
}
.text_button_medium {
  font-weight: 600;
  font-size: 18px;
}
.text_button_small {
  font-weight: 400;
  font-size: 16px;
}

.text_field::-moz-placeholder {
  font-weight: 600;
  font-size: 20px;
}

.text_field::placeholder {
  font-weight: 600;
  font-size: 20px;
}
.text_field_title {
  font-weight: 400;
  font-size: 14px;
}
.text_field_description {
  font-weight: 400;
  font-size: 12px;
}

.right {
  margin-left: 50px;
  margin-right: -35px;
}

.left {
  margin-right: 50px;
  margin-left: -35px;
}

.btn {
  height: 42px;
  border-radius: 48px;
  box-shadow: 0px 4px 10px rgba(0, 177, 187, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_icon {
  justify-content: space-around !important;
}
.btn_large {
  width: auto;
  padding: 0px 82px;
}
.btn_large i {
  position: relative;
  margin-left: 45px;
  margin-right: -62px;
}
.btn_large_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_large:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_large:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_large_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_large_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_large_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_large_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_large_transparent_active {
  color: #00B1BB;
}
.btn_large_transparent:disabled {
  color: #CDCFD0;
}
.btn_large_form {
  border: none;
  background-color: #BDF0F2;
}
.btn_large_form:active {
  background-color: #FAFAFA;
  color: #00B1BB;
}
.btn_medium {
  width: auto;
  height: 42px;
  padding: 9px 55px;
}
.btn_medium_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_medium:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_medium:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_medium_outline {
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
}
.btn_medium_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
  text-shadow: none;
}
.btn_medium_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_medium_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_medium_transparent_active {
  color: #00B1BB;
}
.btn_medium_transparent:disabled {
  color: #CDCFD0;
}
.btn_medium_form {
  border: none;
  background-color: #BDF0F2;
}
.btn_medium_form:active {
  background-color: #FAFAFA;
  color: #00B1BB;
}
.btn_small {
  width: 10.7%;
}
.btn_small_active {
  border: none;
  background: #00B1BB;
  color: #F2F2F2;
}
.btn_small:hover {
  border: none;
  background: #BDF0F2;
  color: #00B1BB;
}
.btn_small:disabled {
  border: none;
  background: #E3E5E5;
  color: #979C9E;
}
.btn_small_outline {
  filter: drop-shadow(0px 4px 10px rgba(0, 177, 187, 0.3));
  background-color: transparent;
}
.btn_small_outline_active {
  border: 1px solid #00B1BB;
  color: #00B1BB;
}
.btn_small_outline:disabled {
  border: 1px solid #CDCFD0;
  color: #CDCFD0;
}
.btn_small_transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.btn_small_transparent_active {
  color: #00B1BB;
}
.btn_small_transparent:disabled {
  color: #CDCFD0;
}
.btn_small_form {
  border: none;
  background-color: #BDF0F2;
}
.btn_small_form:active {
  background-color: #FAFAFA;
  color: #00B1BB;
}

@media only screen and (max-width: 768px) {
  i {
    font-size: 24px;
  }
  .right {
    margin-left: 20px;
    margin-right: -10px;
  }
  .left {
    margin-right: 50px;
    margin-left: -35px;
  }
  .btn_large {
    width: auto;
    padding: 9px 45px;
  }
  .btn_medium {
    width: auto;
    padding: 9px 25px;
  }
  .btn_small {
    width: 50%;
  }
}
/* Input internacional */
/* Cajita */
.form-group {
  width: 100%;
  max-width: 310px;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
}
.form-group:not(.form-group_error):not(.form-group_exito):focus-within {
  background: rgba(0, 177, 187, 0.2);
  border: 2px solid #2FD9DE;
}
.form-group_error {
  border-color: #EB3232;
  background: rgba(235, 50, 50, 0.2);
}
.form-group_error:focus-within {
  background: rgba(235, 50, 50, 0.2);
  border: 2px solid #EB3232;
}
.form-group_exito {
  border-color: #2DC071;
  background: rgba(45, 192, 113, 0.2);
}
.form-group_exito:focus-within {
  background: rgba(45, 192, 113, 0.2);
  border: 2px solid #2DC071;
}

/* No difiere */
.select-container {
  width: 80px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Se agrega para centrar verticalmente el ícono de la bandera */
}

/* Form de el country a elegir */
.country-select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  padding-left: 24px;
  border-radius: 48px;
}

/* Contenedor de la flag */
.flag-icon-container {
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
}

/* Icono de la flag */
.flag-icon {
  width: 20px;
  height: 8px;
}

/* Escribir dentro del imput */
.input-number {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  border-radius: 48px;
  margin-left: 10%;
}

@media (max-width: 768px) {
  .form-group {
    display: flex;
    /* Utilizar flexbox para disposición */
    flex-direction: row;
    /* Especificar la dirección de fila o columna según las necesidades */
    display: grid;
    grid-template-columns: 20% 80%;
    /* Especificar columnas de ancho flexible */
  }
  .country-select {
    font-size: 16px;
    /* Cambiar el tamaño de fuente en pantallas más pequeñas */
  }
  .input-number {
    margin-left: 16%;
    font-size: 16px;
    width: 100%;
    /* Cambiar el tamaño de fuente en pantallas más pequeñas */
  }
  #greenInput {
    width: 29.38%;
    height: 42px;
    border-color: #2DC071;
    background-color: rgba(45, 192, 113, 0.2);
    border-radius: 48px;
  }
  #redInput {
    width: 29.38%;
    height: 42px;
    border-color: #EB3232;
    background-color: rgba(235, 50, 50, 0.2);
    border-radius: 48px;
  }
  #grayInput {
    width: 29.38%;
    height: 42px;
    border-color: #CDCFD0;
    background-color: #f4f4f4;
    border-radius: 48px;
  }
  #inputSearch {
    /* width: 519px;
    height: 44px; */
    background-color: #eeeeee;
    border-radius: 22px;
    border: none;
  }
  #inputSearch input[type=text] {
    height: 44px;
    border: none;
    background-color: #eeeeee;
  }
  #inputSearch button {
    background-color: #00B1BB;
  }
  #inputButtonSize {
    width: 25.93%;
    height: 44px;
    background-color: #eeeeee;
    border-radius: 22px;
    border: none;
    /*   Lo que esta haciendo esto es ajustar el tamano y cerrando bordes del input con boton */
  }
  #inputButtonColor {
    height: 44px;
    border: none;
    background-color: #eeeeee;
  }
  #dropDownStyleGreen {
    width: 29.38%;
    height: 42px;
    border-color: #2DC071;
    background-color: rgba(0, 177, 187, 0.2);
    color: #27262c;
  }
  #dropDownStyleRed {
    width: 29.38%;
    height: 42px;
    border-width: 2px;
    background-color: rgba(235, 50, 50, 0.2);
    color: #27262C;
  }
  #dropDownStyleCyan {
    width: 29.38%;
    height: 42px;
    border-width: 2px;
    border-color: #00B1BB;
    background-color: rgba(0, 177, 187, 0.2);
    color: #27262C;
  }
  #dropDownStyleRed {
    width: 29.38%;
    height: 42px;
    border-width: 2px;
    border-color: #EB3232;
    background-color: rgba(235, 50, 50, 0.2);
    color: #27262C;
  }
  #dropDownStyleCyan {
    width: 29.38%;
    height: 42px;
    border-width: 2px;
    border-color: #00B1BB;
    background-color: rgba(0, 177, 187, 0.2);
    color: #27262C;
  }
}
a {
  text-decoration: none;
}

#title_home {
  display: none;
}

#carousel {
  padding: 50px 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
}

.carousel-control-next-icon {
  background-image: none;
  color: #27262C;
  font-size: 30px;
}

.carousel-control-next,
.carousel-control-prev {
  margin: -136px;
}

.carousel-control-prev-icon {
  background-image: none;
  color: #27262C;
  font-size: 30px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #27262C;
}

.carousel-indicators {
  position: relative;
}

.w-100 {
  border-bottom: none;
}

.container_carousel_text {
  display: flex;
  flex-direction: column;
  width: 120%;
  float: left;
  justify-content: center;
  align-items: flex-start;
  color: #27262C;
}
.container_carousel_text h1 {
  margin-bottom: 30px;
}
.container_carousel_text p {
  margin-bottom: 30px;
  width: 90%;
}
.container_carousel_img {
  float: right;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#w_contigo_landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 12%;
}

.card_desk {
  margin: 50px 0px;
}
.card_mobile {
  display: none;
}

#product_similar {
  padding: 30px 12% 95px 12%;
  background-color: #E4D4ED;
}
#product_similar h2 {
  color: #8E50B7;
  width: 70%;
  margin-bottom: 50px;
}

.nav-pills {
  width: 87.5%;
  padding: 0px 4%;
  justify-content: space-between;
}

#container_products {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 6.12%;
}

.container_product_similar {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 25px;
  --bs-nav-pills-link-active-bg: $color_accent_white;
  --bs-nav-pills-link-active-color: #27262C;
  --bs-nav-pills-border-radius: 20px 20px 0px 0px;
  --bs-nav-link-color: #27262C;
  --bs-nav-pills-link-active-bg: #FAFAFA;
}

i {
  font-size: 25px;
}

.tab-content {
  margin-top: -20px;
}

#container_product_select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 9.2%;
  width: 87.5%;
  height: auto;
  background-color: #FAFAFA;
  box-shadow: 0px 3.16604px 11.0812px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 4.6%;
}

.product_selected_img {
  width: 46.07%;
}
.product_selected_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 5.12px;
  width: 48, 34%;
  background-color: #FAFAFA;
}
.product_selected_text h5 {
  color: #2D3982;
}
.product_selected_text h4 {
  color: #2FD9DE;
}
.product_selected_text li {
  color: #27262C;
  margin: 7px 0px;
}

.list_product {
  list-style: disc inside url("marcador.png");
}

#about_profile {
  padding: 30px 12%;
  color: #27262C;
}
#about_profile h2 {
  margin: 55px 0px;
}
#about_profile_cards {
  display: flex;
  flex-direction: row;
}

.container_cards_img {
  width: 50%;
  margin-left: -80px;
  float: left;
}
.container_cards_img_img {
  width: 100%;
}
.container_cards_container_1 {
  display: flex;
  justify-content: space-between;
}
.container_cards_container_2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.container_cards_all {
  display: flex;
  width: 55%;
  flex-direction: column;
  float: right;
}

.card_landing_title {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.card_landing_title_orange {
  background-color: #FF8826;
}
.card_landing_title_violet {
  background-color: #8E50B7;
}
.card_landing_title_blue {
  background-color: #2FD9DE;
}
.card_landing_body {
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
}
.card_landing_text {
  margin-top: 9px;
}
.card_landing_small {
  width: 255px;
  height: 205px;
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 20px;
}
.card_landing_large {
  height: 157px;
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

#channels_assistance {
  padding: 50px 12%;
}
#channels_assistance h2 {
  margin: 35px 0px;
}

.channels_container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 254px;
  background: #FAFAFA;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  justify-content: center;
}
.channels_container_channel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  margin: 30px;
}
.channels_container_channel_text {
  width: 129px;
}

.bi-person-lines-fill {
  color: #FF8826;
  font-size: 59px;
}
.bi-telephone-fill {
  color: #00B1BB;
}
.bi-phone-fill {
  color: #8E50B7;
}
.bi-geo-alt-fill {
  color: #2D3982;
}

@media only screen and (max-width: 768px) {
  #title_home {
    display: none;
    padding: 0px 7%;
    width: 100%;
    display: flex;
    height: 380px;
    padding: 0px 20px;
    align-items: start;
    background-color: #FF8826;
    color: #FAFAFA;
    border-radius: 0px 0px 45% 45%;
  }
  #title_home h1 {
    margin: 30px 20px;
  }
  #carousel {
    display: none;
  }
  #carousel_cards {
    display: flex;
    margin: -300px 20px 20px 20px;
  }
  #w_contigo_landing {
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
  }
  .card_desk {
    display: none;
  }
  .card_mobile {
    display: flex;
    width: 100%;
  }
  #product_similar {
    padding: 30px 0px;
    background-color: #BDF0F2;
    margin: 20px 0px;
  }
  #product_similar h2 {
    width: 100%;
    margin: 0px 20px;
    color: #00B1BB;
    margin-bottom: 40px;
  }
  #container_product_select {
    flex-direction: column;
    padding: 30px 12.85%;
    width: 93.71%;
    gap: 4.6%;
  }
  .product_selected_img {
    width: 79.23%;
  }
  button {
    align-self: center;
  }
  .container_product_similar {
    height: 61.76px;
    padding: 8px 25px;
    --bs-nav-pills-link-active-bg: $color_accent_white;
    --bs-nav-pills-link-active-color: #27262C;
    --bs-nav-pills-border-radius: 20px 20px 0px 0px;
    --bs-nav-link-color: #27262C;
    --bs-nav-pills-link-active-bg: #FAFAFA;
  }
  .nav-pills {
    width: 93.71%;
    padding: 0px 4%;
    justify-content: space-between;
  }
  .name_label {
    display: none;
  }
  #about_profile {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }
  #about_profile_cards {
    display: flex;
    flex-direction: column;
  }
  .container_cards_img {
    margin-left: 0px;
    float: left;
  }
  .container_cards_img_img {
    width: 100%;
  }
  .container_cards_container_1 {
    display: flex;
    justify-content: space-between;
  }
  .container_cards_container_2 {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .container_cards_all {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: space-between;
    float: none;
  }
  .card_landing_title {
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
  }
  .card_landing_title_orange {
    background-color: #FAFAFA;
    color: #FF8826;
  }
  .card_landing_title_violet {
    background-color: #FAFAFA;
    color: #8E50B7;
  }
  .card_landing_title_blue {
    background-color: #FAFAFA;
    color: #2FD9DE;
  }
  .card_landing_body {
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
  }
  .card_landing_text {
    margin-top: 9px;
  }
  .card_landing_small {
    width: 42%;
    height: 182px;
    background: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 20px;
  }
  .card_landing_large {
    height: 157px;
    background: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  #channels_assistance {
    display: flex;
    padding: 50px 20px;
    flex-wrap: wrap;
  }
  #channels_assistance h2 {
    margin: 35px 0px;
  }
  .channels_container {
    flex-wrap: wrap;
  }
}
.filter-section {
  background-color: #FAFAFA;
}
.filter-section option {
  text-align: left;
}
.filter-section .container {
  display: flex;
  height: 124px;
}

.see_more_button {
  display: flex;
  justify-content: center;
  margin: 40px 0 99px;
}

.classified-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.classified-item .fondo-card {
  max-width: 328px;
}
.classified-banner-img {
  width: 100%;
}
.classified-banner_leftCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.publish_card {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  border-radius: 20px;
  overflow: hidden;
  gap: 50px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.publish_img {
  background-color: #FF8826;
  max-height: 300px;
  height: 100%;
  margin-left: -16px;
}
.publish_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-title {
  margin-top: 56px;
  color: #00B1BB;
}
.form-title p {
  color: gray;
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 88px;
}
.form-section label {
  font-weight: 600;
  color: #27262C;
  margin-bottom: 8px;
}
.form-section .form-control {
  border-radius: 20px 20px !important;
  padding: 10px 20px;
  background-color: #FAFAFA;
}
.form .filters {
  background-color: #00B1BB;
  color: #FAFAFA;
}

@media only screen and (max-width: 768px) {
  .classified-banner-img {
    display: none;
  }
}
/*.dot{
    width: 100vw;
    height: 100vh;
    border-radius: 50%;
    display: inline-block;
    background-color: $color_orange1;
    position: relative;
    top: -80vh;
    left: -25vw;
    z-index: -1;
}*//*# sourceMappingURL=clasificados.css.map */