@import '../../../style.scss';
@import '../Cards/cardArticle.scss';


.dropdown-toggle::after {
    display: none;
}

.dropdown-menu{
    background-color:whitesmoke;
    width: 100%;
 
    // overflow-y: auto;
    
}
.formdrop{
    width: 100%;
    background-color:rgba(0, 177, 187, 0.2);
    & button{
        text-align: left;
    }
}

.dropdown-menu button {
    text-align: left;
  }
  

  
// .col-lg-3 {
//     position: fixed;
//     height: 50%;
//   }

    // .dme_link{
    //     margin-top: 30px;
    //     text-align: center;

    //     & a{
    //         background-color: white;
    //         font-weight: bold;
    //         color: $color_blue1;
    //     }
    // }

    /* Estilo para la sección del formulario */
.fondo-card {
    background-color: white;
    padding: 40px;
    margin-top: 50px;
  }
  
  /* Estilo para la imagen en el formulario */
  .card-imagen {
    margin-bottom: 40px;
  }
  
  /* Estilo para los botones del formulario */
  .btn_formulario {
    margin-bottom: 20px;
    margin-right: 40px;
  }
  
  /* Estilo para el dropdown del formulario */
  .dropdown {
    margin-bottom: 100px;
  }
  
  /* Estilo para el título del formulario */
  h2 {
    margin-bottom: 30px;
  }
  
  /* Estilo para la barra de progreso */
  .progress {
    margin-bottom: 30px;
  }
  
  /* Estilo para el contenedor de los elementos del formulario */
  #etapa-1, #etapa-2 {
    margin-bottom: 30px;
  }
  
  /* Estilo para las etiquetas del formulario */
  label {
    margin-bottom: 10px;
  }
  
  /* Estilo para los inputs del formulario */
  .form-control_formulario {
    margin-bottom: 20px !important;
  }
  .form-input{
    border-radius: 20px !important;
  }
  .progress-bar {
    background-color: #5cb85c; /* Cambiar a tu color deseado */
  }
  .progress-bar[aria-valuenow="100"] {
    background-color: #f0ad4e; /* Cambiar a tu color deseado */
  }

  .my-label{
    width: 50%;
  }

  .btn{
    &_continuar{
        width: 50%;
        background-color: $color_blue1;
        color: white;
    }
  }

  .form-check{
    margin-top: 30px;
  }
  
  .dropdown_form{
    max-height: 500px;
    overflow-y: auto;
  }